<body>
  <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" href="#">Angular Bootstrap Demo</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Przełącznik nawigacji">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainmenu">

      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/operations">Operations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/expenses">Expenses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/reports">Reports</a>
        </li>

      </ul>
    </div>
  </nav>
</body>

