#fileLoader
{
  display:none;
}
.amount-positive
{
  color: rgb(76,175,80);
  text-align: center;
}

.amount-negative
{
  color: rgb(235,80,80);
  text-align: center;
}



.table
{
  font-size: 1.125em;
}
.table-wrapper
{
  padding:20px;
  background:#E1EDF6;
  border-radius:70px;
}

