<div class="container" style="margin-top:70px">
  <div class="row py-2">
    <div class="col-lg-2 text-center">
      <h6>Add new transactions</h6>
      <input type="file" id="fileLoader" name="files" title="Load File" (change)="onFileChange($event)"/>
      <input type="button" class="btn btn-info" id="btnOpenFileDialog" value="Select file" (click)="openFileDialog($event)"/>
    </div>
    <div class="col-xl-7 col-lg-6 col-md-8 col-sm-10 mx-auto text-center">
      <table class="table">
        <thead>
        <tr>
          <th scope="col" sortable="name" (sort)="onSort($event)">#</th>
          <th scope="col" sortable="name" (sort)="onSort($event)">Date</th>
          <th scope="col" sortable="name" (sort)="onSort($event)">Type</th>
          <th scope="col" sortable="name" (sort)="onSort($event)">Amount</th>
          <th scope="col" sortable="name"></th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let op of operations$">
          <tr class="oprow" (click)="op.expanded = !op.expanded">
            <th scope="row">{{op.id}}</th>
            <td>{{op.operationDate}}</td>
            <td>{{op.transType}}</td>
            <td [ngClass]="op.operationClass === 'DEBIT'?'amount-negative':'amount-positive'">
              {{op.amount}}
              {{op.currency}}
            </td>
            <td>
              <button type="button" class="btn btn-outline-info btn-sm"
                      data-toggle="modal" data-target="#exampleModalCenter" (click)="onDetails(op)">Details</button>
            </td>
          </tr>
          <operation-detail-modal *ngIf="op.expanded" [op]="selected"></operation-detail-modal>
        </ng-container>
        </tbody>
      </table>
    </div>
    <div class="col-3">
      <div class="row">
        <div class="col-6">
          Summary
          <ul>
            <li>Income</li>
            <li>Outcome</li>
            <li>Balance</li>
          </ul>
        </div>
        <div class="col-xl-6">
          <div class="dropdown">
            <button class="btn btn-info dropdown-toggle" id="dropdownMenuButton" type="button"
                    data-toggle="collapse" data-target="#reportmenu" aria-controls="reportmenu" aria-expanded="false">
              Periods
            </button>
            <div class="dropdown-menu" id="reportmenu" aria-labelledby="dropdownMenuButton">
              <button class="dropdown-item" (click)="onMonth()">Last month</button>
              <button class="dropdown-item" (click)="onQuarter()">Quarter</button>
              <button class="dropdown-item" (click)="onOverall()">Overall</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
