<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-notify modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="heading lead">Operation details</p>
        <h5 class="modal-title" id="exampleModalLongTitle">Operation details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Type</th>
            <th scope="col">Amount</th>
            <th scope="col"></th>
          </tr>
          <tr class="oprow">
            <th scope="row">{{op.id}}</th>
            <td>{{op.operationDate}}</td>
            <td>{{op.transType}}</td>
            <td [ngClass]="op.operationClass === 'DEBIT'?'amount-negative':'amount-positive'">
              {{op.amount}}
              {{op.currency}}
            </td>
            <td>{{op.endingBalance}}</td>
            <td>{{op.description}}</td>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
