<p>operation-list works!</p>

<label>
  Open file dialog
  <input type="file" (change)="getFilePath($event)" />
</label>


<div >
  <div>
    <table>
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">OperationDate</th>
        <th scope="col">OperationClass</th>
        <th scope="col">TransactionType</th>
        <th scope="col">Amount</th>
        <th scope="col">Currency</th>
        <th scope="col">Balance</th>
        <th scope="col">Description</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let operation of operations">
        <td>{{ operation.id }}</td>
        <td>{{ operation.operationDate }}</td>
        <td>{{ operation.operationClass }}</td>
        <td>{{ operation.transactionType }}</td>
        <td>{{ operation.amount }}</td>
        <td>{{ operation.currency }}</td>
        <td>{{ operation.endingBalance }}</td>
        <td>{{ operation.description }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
