<div class="container-fluid" style="margin-top: 70px;">
  <div class="row">
    <div class="col-lg-2 text-center">
      <div>
        <button class="btn btn-info op-button" routerLink="/expenses/editor">Add new</button>
      </div>
    </div>
    <div class="col-xl-7 col-lg-6 col-md-8 col-sm-10 text-center">
      <div class="table-wrapper">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col"> Payment Date</th>
            <th scope="col">Type</th>
            <th scope="col">Cost</th>
            <th scope="col">Details</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let ex of expenses$">
            <th scope="row">{{ ex.id }}</th>
            <td>{{ ex.paymentDate }}</td>
            <td>{{ ex.expenseType['description']}}</td>
            <td>{{ ex.value }}</td>
            <td>{{ex.description}}</td>
            <td>
              <button type="button" class="btn btn-info"
                       (click)="onEdit($event)">Edit
              </button>
              <button type="button" class="btn btn-danger"
                      (click)="onDelete()">Delete
              </button>
              <button (click)="onDelete()">open the modal</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
