<div class="container-fluid" style="margin-top: 70px;">
  <div class="row">
    <div class="col-lg-8 offset-lg-2 text-center">
      <div class="header m-1">
        <h3>Expense list</h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 text-center">
      <div>
        <button class="btn btn-info op-button" routerLink="/expenses/editor">Add new</button>
      </div>
    </div>
    <div class="col-xl-8 col-lg-6 col-md-8 col-sm-10 text-center">
      <div class="table-wrapper">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col"> Payment Date</th>
            <th scope="col">Type</th>
            <th scope="col">Cost</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let ex of expenses$">
            <tr (click)="selected = ex">
              <td>{{ ex.paymentDate }}</td>
              <td>{{ ex.expenseType['description']}}</td>
              <td>{{ ex.value }}</td>

              <td>
                <button type="button" class="btn btn-info"
                        data-toggle="modal" data-target="#expenseModalEdit">Edit
                </button>
                <button type="button" class="btn btn-danger"
                        data-toggle="modal" data-target="#expenseModalDelete">Delete
                </button>
                <button type="button" class="btn btn-info"
                        data-toggle="modal" data-target="#expenseModalDetail">Details
                </button>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div *ngIf='selected'>
    <expense-edit-modal [expense]="selected"></expense-edit-modal>
    <expense-detail-modal [expense]="selected"></expense-detail-modal>
    <expense-delete-modal [expense]="selected"></expense-delete-modal>
  </div>
</div>

