<div style="margin-top: 70px;">
  <button routerLink="/expenses/editor">Add</button>
</div>

<table class="table table-striped" style="margin-top: 70px;">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Cost</th>
    <th scope="col">Type</th>
    <th scope="col">Date</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let ex of expenses$">
    <th scope="row">{{ ex.id }}</th>
    <td>{{ ex.cost }}</td>
    <td>{{ ex.expenseType}}</td>
    <td>{{ ex.paymentDate }}</td>
    <td><button [routerLink]="[ex.id]">Details</button></td>
  </tr>
  </tbody>
</table>
